/**/target/*
*.iml
*.ipr
*.iws
*.bak
.settings/
.classpath
.project
.metadata/
.idea/
dependency-reduced-pom.xml
/**/dependency-reduced-pom.xml
/bin
/.settings
target
/**/.project
/**/.classpath
*.project
*.classpath
/**/logger_file_IS_UNDEFINED

*.class

# Package Files #
*.war
*.ear
/**/target/*
*.iml
*.ipr
*.iws
*.bak

.metadata/
dependency-reduced-pom.xml
/**/dependency-reduced-pom.xml
/.settings
*.project
/.idea/workspace.xml
/.idea

.idea
/src/
